<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get, post 요청 실습</title>
    <style>
        fieldset{
            margin: 10px;
        }
    </style>
</head>
<body>
    <form action="getPractice" method="get">
        이름 <input type="text">
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" id="man1"><label for="man1">남자
            <input type="radio" name="gender" value="여자" id="woman1"><label for="woman1">여자
        </fieldset>
        <fieldset>
            <legend>생년월일</legend>
            <select name="birthYear">
                <% for(var i=1970; i<=2020; i++) {%>
                    <option value="<%=i%>년"><%=i%>년</option>
                <% } %>
            </select>
            <select name="birthMonth">
                <% for(var i=1; i<=12; i++) {%>
                    <option value="<%=i%>월"><%=i%>월</option>
                <% } %>
            </select>
            <select name="birthDay">
                <% for(var j=1; j<=31; j++) {%>
                    <option value="<%=j%>일"><%=j%>일</option>
                <% } %>
            </select>
        </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interest" value="영화보기" id="trip1"><label for="trip1">여행
            <input type="checkbox" name="interest" value="음악감상" id="passion1"><label for="passion1">패션</label>
            <input type="checkbox" name="interest" value="운동" id="food1"><label for="food1">음식
        </fieldset>
        <button type="submit">회원가입</button>
    </form>
    <hr>
    <form action="postPractice" method="post">
        이름 <input type="text" required>
        <fieldset required>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" id="man2" required ><label for="man2">남자
            <input type="radio" name="gender" value="여자" id="woman2" required ><label for="woman2">여자
        </fieldset>
        <fieldset>
            <legend>생년월일</legend>
            <select name="birthYear">
                <% for(var i=1970; i<=2020; i++) {%>
                    <option value="<%=i%>년"><%=i%>년</option>
                <% } %>
            </select>
            <select name="birthMonth">
                <% for(var i=1; i<=12; i++) {%>
                    <option value="<%=i%>월"><%=i%>월</option>
                <% } %>
            </select>
            <select name="birthDay">
                <% for(var i=1; i<=31; i++) {%>
                    <option value="<%=j%>일"><%=j%>일</option>
                <% } %>
            </select>
        </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interest" value="영화보기" id="trip2"><label for="trip2">여행
            <input type="checkbox" name="interest" value="음악감상" id="passion2"><label for="passion2">패션</label>
            <input type="checkbox" name="interest" value="운동" id="food2"><label for="food2">음식
        </fieldset>
        <fieldset>
            <legend>선택</legend>
            <label for="color">좋아하는 색상 <input type="color" name="choice" id="color">
            <label for="num">좋아하는 숫자 <input type="number" name="choice" id="num">
        </fieldset>
        <button type="submit">회원가입</button>
    </form>
</body>
</html>