<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>EJS 파일로 만든 html</h1>
    <img src="static/img/sample.jpg">
    <% for(var i=0; i<data.length; i++) { %>
        <div>안녕하시렵니까<%=data[i]%></div>
    <% } %>

    <!--구분을 명확히 지어줘야 한다..
    <% if(true) { %> 

    <% }else if(true) { %>

    <% }else { %>

    <% } %>-->

    <div style="color:red"><%="안녕"%></div> <!--문자열!-->
    <!--span태그가 문자열 자체로-->
    <div style="color:red"><%="<span style='color:blue'>안녕</span>"%> 하세요</div> 
    <!-- -는 span태그를 태그로 인식-->
    <div style="color:red"><%-"<span style='color:blue'>안녕</span>"%> 하세요</div>
    <%- include('test.ejs')%> 
</body>
</html>