<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>axios 실습</title>
    <style>
        fieldset{
            margin: 10px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function axiosGet(){
            let form = document.getElementById("form");
            let h1 = document.createElement("h1");
            
            axios({
                method:'get',
                url:'/axiosGet',
                params : {
                    name : form.name.value,
                    gender : form.gender.value,
                    birth : [ form.birthYear.value + " " +  form.birthMonth.value + " " + form.birthDay.value]
                }
            }).then((res)=>{
                let n = `${res.data.name}`;
                alert("안녕하세요 " + n + "님! \n" + res.data.gender 
                + " 이시고, \n" + res.data.birth + "이 생일이시네요");
                let h1Txt = document.createTextNode(n);
                h1.appendChilde(h1Txt);
                document.body.appendChild(h1Txt);
            });
        }
    </script>
</head>
<body>
    <form id="form">
        이름 <input type="text" name="name">
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" id="man1"><label for="man1">남자
            <input type="radio" name="gender" value="여자" id="woman1"><label for="woman1">여자
        </fieldset>
        <fieldset>
            <legend>생년월일</legend>
            <select name="birthYear">
                <% for(var i=1970; i<=2020; i++) {%>
                    <option value="<%=i%>년"><%=i%>년</option>
                <% } %>
            </select>
            <select name="birthMonth">
                <% for(var i=1; i<=12; i++) {%>
                    <option value="<%=i%>월"><%=i%>월</option>
                <% } %>
            </select>
            <select name="birthDay">
                <% for(var j=1; j<=31; j++) {%>
                    <option value="<%=j%>일"><%=j%>일</option>
                <% } %>
            </select>
        </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interest" value="trip" id="trip1"><label for="trip1">여행
            <input type="checkbox" name="interest" value="passion" id="passion1"><label for="passion1">패션</label>
            <input type="checkbox" name="interest" value="food" id="food1"><label for="food1">음식
        </fieldset>
        <button type="button" onclick="axiosGet()">회원가입</button>
        <div id="test"></div>
    </form>
</body>
</html>