<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visitor</title>
     <!--axios-->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <!--jquery-->
     <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
     <style>
        .d-none {
            display: none ;
        }
     </style>
</head>
<body>
    <form id="form_register">
        <fieldset style="display: inline-block;">
            <legend>방명록 등록</legend>
            <input type="hidden" name="id">
            <input type="text" name="name" placeholder="사용자 이름"><br>
            <input type="text" name="comment" placeholder="방명록"><br>
            <div class="update-btns d-none">
                <br><button type="button" onclick="update_visitor();">수정</button>
                <br><button type="button" onclick="cancle_update()">취소</button>
            </div>
            <div class="register-btn">
                <br><button type="button" onclick="register();">등록</button>
            </div>
        </fieldset>
    </form>
    <table id="table" border=1 cellspacing="0" cellpadding="10" style="margin-top: 30px;">
        <tr>
            <th>ID</th>
            <th>작성자</th>
            <th>방명록</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        <% for(var i=0; i<data.length; i++) { %>
            <tr>
                <td><%=data[i].id%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].comment%></td>
                <td><button type=button onclick="update_load('<%=data[i].id%>', this)">수정</button></td>
                <td><button type=button onclick="del_visitor('<%=data[i].id%>', this)">삭제</button></td>
            </tr>
        <% } %>
    </table>
    <script>
        function register(){
            let form = document.querySelector("#form_register");
            let data = {name : form.name.value, comment : form.comment.value}
            let table = document.querySelector("#table");
            axios({
                method:"post",
                url:"/visitor/register",
                data : data
            }).then((res)=>{
                $("#table").append(`
                    <tr>
                        <td>${res.data}</td>
                        <td>${data.name}</td>
                        <td>${data.comment}</td>
                        <td><button type=button onclick="update_load(${res.data}, this)">수정</button></td>
                        <td><button type=button onclick="del_visitor(${res.data}, this)">삭제</button></td>
                    </tr>
                `)
            })
        }

        function del_visitor(del_id, delBtn){
            axios({
                method:"delete",
                url:"/visitor/delete",
                data:{id : del_id}
            }).then((res)=>{
                delBtn.parentElement.parentElement.remove();
            })
        }

        let update_tr;

        function update_load(id, element){
            axios({
                method:"get",
                url:"/visitor/get_visitor",
                params : {id : id}
            }).then((res)=>{
                let form = document.getElementById("form_register");
                form.id.value = res.data.id;
                form.name.value = res.data.name;
                form.comment.value = res.data.comment;
                $(".update-btns").removeClass("d-none");
                $(".register-btn").addClass("d-none");

                update_tr = element.parentElement.parentElement;
            })
        }

        function update_visitor(){
            let form = document.getElementById("form_register");
            let data = { id: form.id.value, name: form.name.value, comment : form.comment.value };
            
            axios({
                method:"patch",
                url:"/visitor/update",
                data: data
            }).then((res)=>{
                update_tr.children[1].innerText = data.name;
                update_tr.children[2].innerText = data.comment;

                cancle_update();

                $(".update-btns").addClass("d-none");
                $(".register-btn").removeClass("d-none");
            })
        }

        function cancle_update(){
            let form = document.getElementById("form_register");
            form.id.value = "";
            form.name.value = "";
            form.comment.value = "";
        }
    </script>
</body>
</html>